<%# TODO: company details page %>
<%# I can't seem to get the Place Name to Populate %>
<%#<h1> <%=@place["name"] %> </h1>

<h3> Posts </h3>



<%#<p>
<a href ="/places/new?place_id=<%= @place["id"]%>
<%#">Create a new post for <%= @place["name"]%></a>
</p>


<p>
    <a href="/places"> Home </a>
</p>